<div class="col">
  <div class="card text-bg-light border-info mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">{{libro.titulo}}</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4">
        <li>Autor: {{libro.titulo}}</li>
        <li>Editorial: {{libro.editorial}}</li>
        <li>ISBN: {{libro.isbn}}</li>
        <li>Año: {{libro.anio}}</li>
      </ul>
      <button class="btn btn-outline-info mx-auto" routerLink="book-details/{{libro.isbn}}">Más Info</button>
      <button class="btn btn-outline-info mx-auto" (click)="onClickAgregar()" [disabled]="disabledButton">Agregar</button>
    </div>
  </div>
</div>